id-generate/HELP.md
id-generate/.gradle
id-generate/build/
id-generate/!gradle/wrapper/gradle-wrapper.jar
id-generate/!**/src/main/**/build/
id-generate/!**/src/test/**/build/

### STS ###
id-generate/.apt_generated
id-generate/.classpath
id-generate/.factorypath
id-generate/.project
id-generate/.settings
id-generate/.springBeans
id-generate/.sts4-cache
id-generate/bin/
id-generate/!**/src/main/**/bin/
id-generate/!**/src/test/**/bin/

### IntelliJ IDEA ###
id-generate/.idea
id-generate/*.iws
id-generate/*.iml
id-generate/*.ipr
id-generate/out/
id-generate/!**/src/main/**/out/
id-generate/!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
id-generate/.vscode/
